/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: shortcuts */
.disabled,
[disabled=""]{pointer-events:none;opacity:0.4;--un-grayscale:grayscale(1);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.btn{display:flex;cursor:pointer;gap:0.5rem;justify-content:center;align-items:center;border-width:0px;border-radius:0.375rem;padding-left:1.5rem;padding-right:1.5rem;text-align:center;font-size:0.875rem;font-family:Satoshi-Variable;--un-outline-color-opacity:1;outline-color:rgb(255 201 229 / var(--un-outline-color-opacity)) /* #FFC9E5 */;padding-top:0.625rem;padding-bottom:0.625rem;}
.btn-lg{gap:0.75rem;padding-left:2rem;padding-right:2rem;font-size:1rem;padding-top:1rem;padding-bottom:1rem;}
.btn-md{gap:0.5rem;padding-left:1.5rem;padding-right:1.5rem;padding-top:0.625rem;padding-bottom:0.625rem;font-size:0.875rem;}
.btn-sm{gap:0.25rem;font-size:0.75rem;padding-left:1rem;padding-right:1rem;padding-top:0.375rem;padding-bottom:0.375rem;}
.btn-secondary,
[btn-secondary=""]{border-width:1px;--un-border-opacity:1;border-color:rgb(238 238 238 / var(--un-border-opacity));border-style:solid;--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity)) /* #fff */;--un-text-opacity:1;color:rgb(209 18 67 / var(--un-text-opacity)) /* #D11243 */;}
.btn-primary,
[btn-primary=""]{--un-bg-opacity:1;background-color:rgb(209 18 67 / var(--un-bg-opacity)) /* #D11243 */;--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #fff */;--un-outline-color-opacity:1;outline-color:rgb(255 201 229 / var(--un-outline-color-opacity)) /* #FFC9E5 */;}
.btn-ternary{background-color:transparent /* transparent */;--un-text-opacity:1;color:rgb(209 18 67 / var(--un-text-opacity)) /* #D11243 */;}
.btn-primary:hover{--un-bg-opacity:1;background-color:rgb(168 30 47 / var(--un-bg-opacity)) /* #A81E2F */;}
[btn-primary=""]:hover{--un-bg-opacity:1;background-color:rgb(168 30 47 / var(--un-bg-opacity)) /* #A81E2F */;}
.btn-secondary:hover{--un-text-opacity:1;color:rgb(168 30 47 / var(--un-text-opacity)) /* #A81E2F */;}
[btn-secondary=""]:hover{--un-text-opacity:1;color:rgb(168 30 47 / var(--un-text-opacity)) /* #A81E2F */;}
.btn-ternary:hover{--un-text-opacity:1;color:rgb(168 30 47 / var(--un-text-opacity)) /* #A81E2F */;}
.btn:focus{outline-width:2px;}
.btn-primary:focus{outline-width:2px;}
[btn-primary=""]:focus{outline-width:2px;}
/* layer: default */
.pointer-events-none{pointer-events:none;}
.h-25px{height:25px;}
.w-25px{width:25px;}
.flex{display:flex;}
@keyframes spin{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
.animate-spin{animation:spin 1s linear infinite;}
.animate-duration-1s{animation-duration:1s;}
.animate-count-infinite{animation-iteration-count:infinite;}
.cursor-pointer{cursor:pointer;}
.gap-1{gap:0.25rem;}
.gap-2{gap:0.5rem;}
.gap-3{gap:0.75rem;}
.flex-justify-center{justify-content:center;}
.flex-items-center{align-items:center;}
.border,
.border-1{border-width:1px;}
.border-0{border-width:0px;}
.border-disabledOutline{--un-border-opacity:1;border-color:rgb(238 238 238 / var(--un-border-opacity));}
.rounded-md{border-radius:0.375rem;}
.border-solid{border-style:solid;}
.bg-primary{--un-bg-opacity:1;background-color:rgb(209 18 67 / var(--un-bg-opacity)) /* #D11243 */;}
.bg-transparent{background-color:transparent /* transparent */;}
.bg-white{--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity)) /* #fff */;}
.hover\:bg-primaryHovered:hover{--un-bg-opacity:1;background-color:rgb(168 30 47 / var(--un-bg-opacity)) /* #A81E2F */;}
.px-lg{padding-left:2rem;padding-right:2rem;}
.px-md{padding-left:1.5rem;padding-right:1.5rem;}
.py-xs{padding-top:0.625rem;padding-bottom:0.625rem;}
.text-center{text-align:center;}
.text-size-lg{font-size:1rem;}
.text-size-md{font-size:0.875rem;}
.text-size-sm{font-size:0.75rem;}
.text-primary{--un-text-opacity:1;color:rgb(209 18 67 / var(--un-text-opacity)) /* #D11243 */;}
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #fff */;}
.hover\:text-primaryHovered:hover{--un-text-opacity:1;color:rgb(168 30 47 / var(--un-text-opacity)) /* #A81E2F */;}
.font-satoshi{font-family:Satoshi-Variable;}
.op-40{opacity:0.4;}
.focus\:outline-2:focus{outline-width:2px;}
.outline-primaryOutline{--un-outline-color-opacity:1;outline-color:rgb(255 201 229 / var(--un-outline-color-opacity)) /* #FFC9E5 */;}
.filter-grayscale{--un-grayscale:grayscale(1);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.px-1{padding-left:1rem;}
.px-1{padding-right:1rem;}
.py-0\.375{padding-bottom:0.375rem;}
.py-0\.375{padding-top:0.375rem;}
.py-0\.625{padding-bottom:0.625rem;}
.py-0\.625{padding-top:0.625rem;}
.py-1{padding-bottom:1rem;}
.py-1{padding-top:1rem;}